*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}


h1{
  margin: 20px;
  font-size: 3vw;
  background-color: white;
}

.addtasks{
    height: 3.8vw;
    display: flex;
    justify-content: space-around ;
    align-items: center;
    background-color: white;
    position: sticky;
    top: 0;
    padding: 20px;
    }

.inputs{
    display: flex;
    flex: 1;
    height: 100%;
    width: 100%;
   

}

.task{
    
    margin: 0px 5px;
    border: 1.8px solid;
    height: 100%;
    border-radius: 35px;
    padding: 0 20px;
    transition: all 0.1ms;
    flex: 2;
    flex-wrap: wrap;
    font-size: 1.2vw;

}
.task:focus{
    border:1.8px solid #ff0a54;
    outline: 0 none;
}
.datetime{
    margin: 0px 5px;
    border: 1.8px solid;
    height: 100%;
    border-radius: 35px;
    padding: 0 20px;
    flex: 0.6;
    font-size: 1.2vw;
    
}

.datetime:focus{
    border:1.8px solid #ff0a54;
    outline: 0 none;
}
.datetime::-webkit-calendar-picker-indicator {
    cursor: pointer;
    border-radius: 4px;
    color: #ff0a54;
}

.addbtn{
    margin: 0px 5px;
    border: 0;
    height: 100%;
    flex: 0.5;
    border-radius: 35px;
    background-color: #ff0a54;
    color: white;
    cursor: pointer;
    transition: all 0.2s;
    font-size: 1.2vw;
}
.addbtn:hover{
    background-color: black;
    
}


.tasks{
    height: 90%;
    
    display: flex;
    flex-direction: column;
   
}

.tasklist{
    display: flex;
    justify-content: space-between;
   margin: 10px 5px;
    
}

.content{
    
    display: flex;
    flex-direction: column;
    flex: 8;   
}
.tasktime, .taskdate{
    margin: 0px 20px;
    font-size: 1.5vw;
    color: #ff0a54;
}

.namecont{
    padding: 5px 10px;
    font-size: 2.5vw;
}
.datetimecont{
    display: flex;
    padding: 10px;
    justify-content: start;
    align-items: center;
}
.delbtndiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    
}
.delbtn{
    margin: 0px 5px;
    border: 0;
    height: 50%;
    width: 60%;
    border-radius: 55px;
    background-color: black;
    color: white;
    cursor: pointer;
    transition: all 0.2s;
    font-size: 1vw;
}

.at,.on{
    font-size: 1vw;
}

@media screen and (max-width:450px){
    h1{
        font-size: 5vw;
        margin-top: 10px;
        margin-bottom: 0;
    }
    

    
    
    

    .tasktime, .taskdate{
        margin: 0px 3px;
        
    }

    .content{
    
        display: flex;
        flex-direction: column;
        flex: 4;   
    }
    .delbtn{
        font-size: 2vw;
        height: 50%;
    }
    .on, .at{
        font-size: 3vw;
    }
    .namecont{
        padding: 0 10px;
        font-size: 7vw;
    }
    .datetimecont{
        padding:5px 10px;
       
    }

    .taskdate, .tasktime{
        font-size: 3vw;
    }
    .addtasks{
        flex-direction: column;
        height: 100px;
        padding: 0;
        align-items: flex-start;
        
    }
    .inputs{
        
        display: flex;
        align-items: center;
        justify-content: center;
        
        
    }
    .task, .datetime{
        height: 50%;
        font-size: 2.5vw;
        padding:  0 5px;
       

    }
    .addbtn{
        height: 50%;
        font-size: 3vw;
    }
    .task{
        flex: 1;
    }
     
   
}

