*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
}


h1{
  margin: 20px;
  font-size: 3vw;
  background-color: white;
}

.addtasks{
    
    height: 50px;
    display: flex;
    justify-content: space-around ;
    align-items: center;
    background-color: white;
    position: sticky;
    top: 0;
    padding: 20px;
    }

.inputs{
    display: flex;
    flex: 1;
    height: 100%;
    width: 100%;
   

}

.dateadd{
    display: flex;
    flex: 1;
    
}

.task{
    
    margin: 0px 5px;
    border: 1.8px solid;
    height: 100%;
    border-radius: 35px;
    padding: 0 20px;
    transition: all 0.1ms;
    flex: 1;
    flex-wrap: wrap;
    font-size: 1.2vw;

}
.task:focus{
    border:1.8px solid #ff0a54;
    outline: 0 none;
}
.datetime{
    margin: 0px 5px;
    border: 1.8px solid;
    height: 100%;
    border-radius: 35px;
    padding: 0 20px;
    flex: 1;
    font-size: 1.2vw;
    
}

.datetime:focus{
    border:1.8px solid #ff0a54;
    outline: 0 none;
}
.datetime::-webkit-calendar-picker-indicator {
    cursor: pointer;
    border-radius: 4px;
    color: #ff0a54;
}

.addbtn{
    margin: 0px 5px;
    border: 0;
    height: 100%;
    flex: 0.5;
    border-radius: 35px;
    background-color: #ff0a54;
    color: white;
    cursor: pointer;
    transition: all 0.2s;
    font-size: 1.2vw;
}
.addbtn:hover{
    background-color: black;
    
}

.tasks{
    height: 100px;
    
}
.taskdate{
    color: #ff0a54;
    height: 20%;
    padding: 5px 20px;
    font-size: 1.3vw;
}

.tasklist{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-top: 0;
    height: 40%;
}
.taskname{
    flex: 2;
    margin: 0 10px;
    font-size: 2.5vw;
    width: 70%;
    overflow: auto;
   
}
.tasktime{
    flex: 1;
    margin: 0 10px ;
    font-size: 1.5vw;
    color: #ff0a54;
}

.delbtn{
  
    border: 0;
    height: 110%;
    margin-right: 20px;
    border-radius: 35px;
    background-color: black;
    color: white;
    cursor: pointer;
    transition: all 0.2s;
    font-size: 1vw;
    width: 8%;
}
.delbtn:hover{
    background-color: #ff0a54;
}




@media screen and (max-width:450px){
    h1{
        
        font-size: 8vw;
        padding: 0;
        margin: 10px 8px;
       
    }
    .addtasks{
        display: flex;
        flex-direction: column;
        padding: 0;
        align-items: start;
        height: 200px;
        margin: 0;
        width: 100vw;
       

        
    }
    .inputs{
        
        display: flex;
        flex-direction: column;
        padding: 0px;
        margin: 10px 0;

        
    
    }
    .task, .datetime{
        flex:1;
        font-size: 4vw;
        
        
    }

    .addbtn{
        font-size: 6vw;
        flex: 0.5;
    }
    .dateadd{
        margin-top: 10px;
        
    }

    .taskdate{
        padding: 0;
        font-size: 4vw;
        margin: 10px 0 0 10px;
    }
    .tasklist{
        display: flex;
        padding: 0;
        margin-top: 20px;
        align-items: center;
        justify-content: center;
        
    }
    .taskname{
        font-size: 5vw;
        flex: 1;
    }
    .tasktime{
        font-size: 4vw;
        flex: 2;
    }
    .delbtn{
        flex: 1;
        font-size: 4vw;
    }



    
      
     
   
}

